* {
    margin: 0;
    padding: 0;
}

.body {
    background-color: #FFFAFA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subscription-container {
    background-color: #E9E9E9;
    margin: auto;
    width: 600px;
    box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: hidden;
}

.header-section {
    padding: 2.5rem;
}

.main-title {
    color: #006A6A;
    font-size: 2rem;
    font-weight: 700;
}

.discount-title {
    color: #008989;
    margin: 1.25rem 0px 0.93rem 0px;
}

.details-section {
    display: flex;
    justify-content: space-around;
}

.monthly-plan {
    background-color: #006A6A;
    color: #FFFAFA;
    width: 50%;
    padding: 1.25rem;
}

.plan-title {
    font-weight: normal;
    font-size: 1.12rem;
    text-align: center;
    margin-bottom: 1.25rem;
}

.price-value {
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
}

.price-detail {
    font-weight: normal;
    margin-left: 0.9rem;
    font-style: italic;
    font-size: 0.9rem;
}

.cancel-info {
    font-weight: normal;
}

.subscribe-button {
    background-color: #E9E9E9;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #006A6A;
    width: 100%;
    padding: 0.9rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1.5rem;
}

.subscribe-button:hover{
    background-color: #fff;
}

.benefits-container {
    background-color: #008989;
    color: #FFFAFA;
    width: 50%;
    font-weight: normal;
    padding: 0.9rem 1.25rem;
}

.benefits-title {
    font-weight: normal;
    margin-bottom: 0.9rem;
    font-size: 1.12rem;
}

.benefits-list {
    margin-left: 2.5rem;
}

.image {
    text-align: center;
}
